<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="100"  class="pr-1">
      <mat-form-field class="full-width">
        <mat-select placeholder="Profile" [formControl]="itemForm.controls['name']" class="mb-1">
          <mat-option *ngFor="let profile of profiles" [value]="profile.name" ngDefaultControl>
            {{profile.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Tag</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>
