<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <input
    name="id"
    [formControl]="itemForm.controls['id']"
    type="hidden"
    placeholder="id">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['name']"
          placeholder="Name">
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['name'].hasError('required') && itemForm.controls['name'].touched"
        class="form-error-msg"> Name is required
      </small>
      <small
        *ngIf="itemForm.controls['name'].hasError('serverValidation') && itemForm.controls['name'].touched"
        class="form-error-msg"> {{itemForm.controls['name'].errors.serverValidation}}
      </small>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [formControl]="itemForm.controls['imageName1']"
          [readonly]="true"
          placeholder="Image" READONLY/>
        <mat-icon matSuffix *ngIf="itemForm.controls['imageName1'].value !== ''" (click)="removeImage(1)"
                  style="cursor: pointer; color: red;">clear
        </mat-icon>
        <mat-icon matSuffix (click)="fileInput1.click()" style="cursor: pointer; color: #247ba0;">file_upload</mat-icon>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['imageName1'].hasError('serverValidation') && itemForm.controls['imageName1'].touched"
        class="form-error-msg"> {{itemForm.controls['imageName1'].errors.serverValidation}}
      </small>
    </div>
    <input type="file" style="display: none" class="form-control" name="batchInput"
           (change)="image1FileChange($event)" accept=".jpg, .jpeg, .png" #fileInput1>
    <div fxFlex="100" class="pr-1">
      <mat-form-field class="full-width">
        <textarea rows="3"
                  matInput
                  style="resize: none;"
                  [formControl]="itemForm.controls['about']"
                  placeholder="About"></textarea>
      </mat-form-field>
      <small
        *ngIf="itemForm.controls['about'].hasError('required') && itemForm.controls['about'].touched"
        class="form-error-msg"> About is required
      </small>
      <small
        *ngIf="itemForm.controls['about'].hasError('serverValidation') && itemForm.controls['about'].touched"
        class="form-error-msg"> {{itemForm.controls['about'].errors.serverValidation}}
      </small>
    </div>
    <h1 matDialogTitle>Profile Media
      <button type="button" mat-icon-button mat-sm-button matTooltip="Add Profile Media" color="primary" class="ml-1"
              (click)="addProfileMedias('', '')">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </h1>
    <div fxFlex="100" formArrayName="profileMedias">
      <div fxLayout="row wrap" fxLayout.lt-sm="column"
           *ngFor="let item of profileMedias.controls; let pointIndex=index"
           [formGroupName]="pointIndex">
        <div fxFlex="45" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="name"
              placeholder="Name">
          </mat-form-field>
          <small
            *ngIf="itemForm.controls['profileMedias'].get(pointIndex.toString()).controls['name'].hasError('required') &&
                itemForm.controls['profileMedias'].get(pointIndex.toString()).controls['name'].touched"
            class="form-error-msg"> Name is required
          </small>
        </div>
        <div fxFlex="45" class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="path"
              placeholder="Path">
          </mat-form-field>
          <small
            *ngIf="itemForm.controls['profileMedias'].get(pointIndex.toString()).controls['path'].hasError('required') &&
                itemForm.controls['profileMedias'].get(pointIndex.toString()).controls['path'].touched"
            class="form-error-msg"> Path is required
          </small>
        </div>
        <div fxFlex="10" class="pr-1">
          <button type="button" (click)="deleteProfileMedias(pointIndex)" matTooltip="Delete Profile Media"
                  mat-mini-fab style="background-color: transparent" class="mr-1">
            <mat-icon style="color: red">remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid || disableButton">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</form>
